<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Reset Password</h1>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom:100px;padding-top:50px; max-width:100%">
    <div class="col-12">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">Check your email for a link to reset your password</h1>
        </div>
        <div class="text-center">
            <i class="bi bi-check-circle text-primary" style="font-size: 4rem;"></i>
        </div>
    </div>
</div>

