@model Room

@{
    ViewData["Title"] = "Room Detail";
}

<div class="container py-5">
    <div class="row" style="margin-bottom:100px; margin-top:50px">
        <div class="col-md-6">
            <img class="img-fluid" src="~/img/@Model.Image" alt="">
        </div>
        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <div>
                @for (int i = 1; i <= Model.Rate; i++)
                {
                    <span class="fa fa-star text-primary"></span>
                }
            </div>
            <p>@Model.Desc</p>
            <div class="mt-4">
                <p><strong>Bed Count:</strong> @Model.BedCount</p>
                <p><strong>Bath Count:</strong> @Model.BathCount</p>
                <p><strong>Wifi:</strong> Yes</p>
            </div>
            <div class="mt-4">
                <p><strong>Price per Night:</strong> $100</p>
            </div>
            <div class="mt-4">
                <a class="btn btn-primary" asp-controller="Reservations" asp-action="Index">Reserve Now</a>
            </div>
        </div>
    </div>
</div>
