@{
    ViewData["Title"] = "Thanks";
}

<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Thank You</h1>
            <h6 class="section-title text-center text-primary text-uppercase">For Choosing Us</h6>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom:100px;padding-top:50px; max-width:100%">
    <div class="col-12">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="mb-5">Your reservation has been successfully completed!</h2>
            <h3 class="mb-5"> From the check-in time, you can approach the reception and get your room key. You can <a asp-controller="Contact" asp-action="Index">Contact Us</a> in case of technical failure or any problem with your reservation. Have a nice day!</h3>
        </div>
        <div class="text-center">
            <i class="bi bi-check-circle text-primary" style="font-size: 4rem;"></i>
        </div>
    </div>
</div>


